body {
    color: rgb(184, 97, 174);
    background-image: url('images/container.jpeg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#nav {
    flex-wrap: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
    width: 30vw;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 18px 0;
    justify-content: space-between;
    font-size: 24px;
}

header {
    font-size: 50px;
}

a {
    color: rgb(233, 226, 233);
}

a:hover {
    color: rgb(212, 57, 129);
}

button {
    background-color: rgb(244, 244, 244);
    color: rgb(237, 100, 157);
}

#home-pic {
    top: 50%;
	height: 250px;
	width: 500px;
	border-radius: 20%;
	box-shadow: 5px 5px 20px #c04baa;
}

h2 {
    color: #d835ba;
}

h3 {
    color: #35a2d8;
}