<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprinkle Party Cupcakes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
    <header>Sprinkle Party Cupcakes</header>
    
    <div id="nav">
        <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('order') }}">Orders</a></li>
        <li><a href="{{ url_for('all_cupcakes') }}">Cupcake Display</a></li>
        </ul>
    </div>
<br><br><br><br><br>
    <div id="home-pic-div">
        <img src="{{url_for('static', filename='images/sprinkle.jpeg')}}" id="home-pic"/>
        </div>  
</body>
</html>